<% provide :title, "Settings" %>
<div class="row">
    <div class="col-md-3">
        <p class="center"><b>Settings</b></p>
        <%= form_for(@user, url: settings_path) do |f| %> 
            <%= f.label :animal, class: "radio inline" do %>
                <%= f.radio_button(:animal, "cat", checked: true) %>
                <span>Cat</span>
                <br/>
                <%= f.radio_button(:animal, "dog") %>
                <span>Dog</span>
                <br/>
                <%= f.radio_button(:animal, "rat") %>
                <span>Rat</span>
            <% end %>
            <%= submit_tag("Submit") %>
        <% end %>
    </div>
</div>
